<div class="modal-dialog modal-lg" role="document">
    <div class="modal-conten">
        <div class="modal-header">
            <h2 class="modal-title"> Editar Checklist</h2>
            <button class="close" type = "button" data-dismiss = "modal" aria-label="close"><span aria-hidden="true" >$times;</span></button>
            <div class="modal-body">
                    {{form}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss = "modal"> Cancelar</button>
                <button class="btn btn-prymary" type="submit">Aceptar</button>
            </div>

        </div>
    </div>


</div>