{% extends 'base.html' %}
{% load static %}
{% block tittle %}Inicio{% endblock %}
{%block body %}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title"> Editar Checklist</h2>
            <button class="close" type = "button" data-dismiss = "modal" aria-label="close"><span aria-hidden="true" >&times;</span></button>
        </div>
            <form action=" {% url 'editarchecklist' object.id_checklist %}" method="post">
                {% csrf_token %}
            <div class="modal-body">
                <div id="labels">
                    <p class="modal-text">Nombre Checklist</p>
                </div>
                <div class="imputs">
                    {{ form.nombre_checklist }}
                </div>
                <div id="labels">
                    <p class="modal-text">Fecha Plazo</p>
                </div>
                <div class="imputs">
                    {{ form.fecha_plazo}}
                </div>
                <div id="labels">
                    <p class="modal-text">Descripción Checklist</p>
                </div>
                <div class="imputs">
                    {{ form.descripcion_checklist}}
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss = "modal"> Cancelar</button>
                <button class="btn btn-success" type="submit">Aceptar</button>
            </div>
        </form>
        
    </div>


</div>

{% endblock %}
