{% extends 'base.html' %}
{% load static %}
{% block tittle %}Actividades{% endblock %}
{%block body %}

    <div class="container">
        <div class="Titulo">
            <button class="btn "><a href="{% url 'home' %}" class="glyphicon glyphicon-align-left"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
              </svg>
              </a></button>

            <div class=" Titulo_act">
                {% for datos_check in datos_check %}
            <h3> {{ datos_check.nombre_checklist }} </h5>
            {% endfor %}

            </div>
            
        </div>
    <div id="Tabla">
        <div>
            <table class="table table-striped table-hover">
                <thead>
                        <th>Nombre actividad</th>
                        <th>Descripción actividad</th>
                        <th>Actividad realizada </th>
                        <th>
                            {% for datos_check in datos_check %}
                            <button type="button" class="btn btn-success" data-toggle="modal" onclick="abrir_modal_crear_act('{% url 'crearactividad' datos_check.id_checklist %}')">Crear nueva actividad</button>
                            {% endfor %}
                        </th>
                </thead>
                <tbody>
        {% for datos_act in datos_act  %}
        <tr>
            <td> {{ datos_act.nombre_actividad }}</td>
            <td> {{ datos_act.descripcion_actividad }}</td>
            {% if datos_act.actividad_realizada == True %}
            <td><input type="checkbox" name="norealizado" id="realizado" checked ></td>
            {% elif datos_act.actividad_Realizada == False %}
            <td><input type="checkbox" name="Realizado" id="norealizado"  ></td>
            {% else %}
            <td><input type="checkbox" name="Realizado" id="norealizado"  ></td>
            {% endif %}
            <td><button  class =" btn btn-danger" onclick="abrir_modal_eliminar_act('{% url 'abrirmodaleliminaract' datos_act.id_actividad %}')">Eliminar</button> 
                <button class =" btn btn-primary" onclick="abrir_modal_editar_act('{% url 'editaractividad' datos_act.id_actividad %}')"> Modificar</button> </td>
        </tr>
        {% endfor %}
                </tbody>
            </table>
        </div> 
    </div> 
</div>
    <div class="container">
            
        <div class="modal fade" id="modalCrear">
        </div>
    </div>

    <div class="container">  
        <div class="modal fade" id="modalEditar">
        </div>
    </div>

    <div class="container">  
        <div class="modal fade" id="modalEliminar">
        </div>
    </div>
{% endblock %}