
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Seguro que desea eliminar la actividad?</h3>
                    <button type ="button"  data-dismiss = "modal" aria-label="close" class="close">&times;</button>
                    
                </div>
                    
             

                        <div class="modal-body"  style="text-align: center;">
                            <button class="btn btn-danger" type="button" data-dismiss = "modal"> Cancelar</button>
                            <button class="btn btn-warning " type="submit"><a style="color: white;   text-decoration: none" href = "{% url 'eliminaractividad' id_actividad %}">Eliminar</a> </button>
                        </div>
                  
                    
              
            </div>
        </div>
</div>