{% extends 'base.html' %}
{% load static %}
{% block tittle %}Inicio{% endblock %}
{%block body %}

        <div class="container">
            

            <div class="row">
                <div   id="datos" class="col-sm-4" >
                  <h3 >UN CHECKLIST PARA TI</h3>
                  <p>Bienvenido a un checklist para ti </p>
                  <p>Para empezar a realizar tus tareas selecciona en crear nueva tarea</p>
                </div>
            </div>
           
            <div id="Tabla">
                <div class="contenedor" >
                <table  class="table table-striped table-hover table-responsive-sm tablita table-bordered table-sm ">
                     
                    <thead class="table-info">
                            <th scope = "col">Nombre de la tarea</th>
                            <th scope = "col">Descripción de la Tarea</th>
                            <th scope = "col">Fecha creación</th>
                            <th scope = "col">Fecha de la tarea </th>
                            <th scope = "col">Actividades a realizar </th>
                            <th scope = "col"> 
                                <button type="button" class="btn btn-success" id="boton_crear" data-toggle="modal" data-target = "#modalCrear">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                              </svg>  
                              Crear nueva tarea 
                            </button></th>
                    </thead>
                    <tbody>
            {% for datos_check in datos_check  %}
            <tr>
                <td> {{ datos_check.nombre_checklist }}</td>
                <td> {{ datos_check.descripcion_checklist }}</td>
                <td> {{ datos_check.fecha_creacion }}</td>
                <td> {{ datos_check.fecha_plazo }}</td>
                
                <td><a href ="{% url 'Actividades' datos_check.id_checklist %}" class="btn btn-info boton_actividad"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                  </svg> Actividades </a></td>
                <td style="width: 300px;"><button id="boton_eliminar_ind" class =" btn btn-danger"  onclick="abrir_modal_edit_check('{% url 'abrirmodaleliminarcheck' datos_check.id_checklist %}')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" margin-left = "1px" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>  Eliminar </button> 
                    <button id="boton_modificar" class =" btn btn-primary" onclick="abrir_modal_edit_check('{% url 'editarchecklist' datos_check.id_checklist %}')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" margin-left = "1px" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                      </svg> Modificar</button> </td>
                                            </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="container">
            
            <div class="modal fade" id="modalCrear">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title"> Crear nueva tarea </h3>
                            <button type ="button"  data-dismiss = "modal" aria-label="close" class="close">&times;</button>
                            
                        </div>
                            <form action="" method="post">

                                <div class="modal-body">
                                {% csrf_token %}
                                <div class="labels">
                                    <p class="modal-text">Nombre de la tarea </p>
                                </div>
                                <div class="imputs">
                                    {{ form.nombre_checklist }}
                                   
                                </div>
                                <div class="labels">
                                    <p class="modal-text">Fecha de la tarea </p>
                                </div>
                                <div class="imputs">
                                    {{ form.fecha_plazo}}
                                </div>
                                <div class="labels">
                                    <p class="modal-text">Descripción </p>
                                </div>
                                <div class="imputs">
                                    {{ form.descripcion_checklist}}
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" type="button" data-dismiss = "modal"> Cancelar</button>
                                    <button class="btn btn-success " type="submit">Aceptar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
        <div class="container">
            <div class="modal fade" id="editar_checklist" role="dialog">
            </div>
        </div>

        <div class="container">  
            <div class="modal fade" id="modalEliminar">

            </div>
        </div>
       
{% endblock %}