#labels {
    display: flex;
    align-items: center;
}
.imputs{
    background-color: #fafafa;
  margin: 1%;
 
  /* IMPORTANTE */
  text-align: center
}

.modal-text{
    text-align: center;
    margin-top: 0.5%;
    width: 100%;
}


.bg {
    background-repeat: repeat-x;
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
}

#enlace_eliminar
{
    color: white;   
    text-decoration: none;
}